# Dataset directory (downloaded automatically by DB container)
data/IDFM-gtfs/

# Python cache and virtual environments
**/__pycache__/
venv/

# Compressed files
**.zip

# IDE files
.idea/
.vscode/
